* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    background-position-y: top;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),
    url("Imagens/fundo_terra.jpg"); 
    /*o linear gradient dá um degradê pra imagem do fundo do site */
}

.walter-turncoat-regular {
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-style: normal; /* esse aqui é um css só pra fonte */
}






.contador {
            font-size: 3rem;
            padding: 20px;
            margin: 20px;
            filter: drop-shadow(2px -4px 6px #000000);
            position: fixed;
            z-index: 2;
            color: white;
            top: 55%;
            z-index: 1;
            font-family: "Walter Turncoat", cursive;
            animation: myAnim 2s ease 0s 1 normal forwards; /* aqui diz as caracteristicas da animação */
        }



header {
    width: 100%;
    height: 100vh; /* Faz o header ocupar 100% da altura da tela */
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
                      url("Imagens/fundo_circulo_pedra.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
    
    
    
    
}




.transicao {
    width: 100%;
    height: 250px;
    background-image: url("Imagens/transicaojogo.jpeg");
    background-position: center;
    filter: brightness(110%);
    filter: saturate(70%);
    /* o filter altera valores da imagem, como brilho, saturação, e outros */
}


.titulo {
   
    padding: 0.5%;

    color: white;

    text-shadow: 2px 2px 8px black;
    text-align: center;
    font-size: 200px;
    font-family: "Walter Turncoat", cursive;
    animation: titulo 2s ease 0s 1 normal forwards; /* "animation" dita que elemento de css vai ter a animação */
    /* titulo é o nome da animação */
}

@keyframes titulo {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.imgcool {
    width: 1245px;
    height: auto;
    margin: -10px auto;
    margin-left: -10px;
    margin-right:100px;
    padding: 0;
    z-index: 0;
    position: absolute;
}

#container {
    margin-top: 3%;
    
    display: flex;
    flex-direction: column;
    /* flex-direction faz a direção dos itens em flexbox serem em colunas ou linhas */
}
.bloco {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    gap: 20px;

 
    margin: 2%;
    width: auto;
    
}
.imgD, .imgE {
    width: 25%;
    height: auto;
    

    transform: rotate(0deg);
    transition: all 1s ease;
    
    filter: drop-shadow(8px 5px 10px rgb(0, 0, 0));
    /*cria uma sombra que replica o elemento, e projeta ela um pouco fora do eixo original do elemento.*/

}
.imgD:hover, .imgE:hover {
    transform: rotate(15deg);
    width: 28%;
    
    /*quando o mouse está em cima de um elemento com essas classes, ele irá rotacionar em 15 graus, e a largura aumentará em 28%*/
}
.imgD {
    order: 2;
}

.imgE {
    order: 1;
}

/*esses orders literalmente dizem a ordem que o elemento deve aparecer */



.txt {
    order: 1;
    flex: 1;
    margin: 1%;
    padding: 0.5%;
    width: 74%;


    border-radius: 10px;
    text-align: center;
    color: white;

    opacity: 0%;

    transition: opacity 0.5s;
     text-shadow: 2px 2px 8px black;

     font-family: "Walter Turncoat", cursive;   
}
.imgD:hover + .txt {
    opacity: 100%;
}
.imgE:hover + .txt {
    opacity: 100%;
}

h1 {
    font-size: 70px;
}

h3 {
    font-size: 38px;
    color: white;
     text-shadow: 2px 2px 8px black;
}
